<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhanglin.mylibrary2">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="debug.AppContext"
        android:allowBackup="true"
        android:label="@string/topic_app_name"
        android:supportsRtl="true"
        android:theme="@style/topic_AppTheme"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        tools:replace="android:name">
        <meta-data
            android:name="com.zhanglin.commonlib.utils.glide.CustomCachingGlideModule"
            android:value="GlideModule" />

        <activity
            android:name="com.zhanglin.topic.ui.activity.NewsListActivity"
            android:label="@string/topic_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zhanglin.topic.ui.activity.NewDetailActivity" />
    </application>

</manifest>
